<div class="new-todo">
  <form (submit)="addTodo()">
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter your todo"
      class="input"
      [(ngModel)]="inputTodo"
    />
    <button type="submit">Add</button>
  </form>
</div>

<div
  class="todos"
  *ngFor="let todo of todos; let i = index"
  (click)="toggleDone(i)"
>
  <div class="todo-item" class="{{ todo.completed ? 'done' : '' }}">
    <h3 class="id">{{ i }}</h3>
    <h2 class="content">{{ todo.content }}</h2>
    <button class="delete" (click)="delete(i)">Remove</button>
  </div>
</div>
